NEXT_PUBLIC_SUPABASE_URL=https://pdqvjcjuggxhdhuibtel.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBkcXZqY2p1Z2d4aGRodWlidGVsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk1NjY2MDcsImV4cCI6MjA3NTE0MjYwN30.SdEIJIROizpxNEr-wVYMTXT2zOrM-vCV9tpq-ikYWbk
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBkcXZqY2p1Z2d4aGRodWlidGVsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1OTU2NjYwNywiZXhwIjoyMDc1MTQyNjA3fQ.hExYoWRZjdTYOptlPO02mmIjO4XC-LN4tfn-CglnIL4